doctype html
html
    head
        title HSCA
        link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
        //script(src="http://code.jquery.com/jquery-1.9.1.js")
        //script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")

        script(src="/js/highstock.js")
        script(src="/js/modules/exporting.js")
        link(rel='stylesheet',href='/stylesheets/style.css')

        script(type='text/javascript').
            window.name = "#{name}";
            window.data = #{data};
            window.cci = #{cci};
            window.ccima = #{ccima};
            window.h180 = #{h180};
            window.h180ma = #{h180ma};
            window.slope1 = #{slope1};
            window.slope1ma = #{slope1ma};
            window.slope2 = #{slope2}
            window.slope2ma = #{slope2ma};
            window.total = #{total};
            window.totalma = #{totalma};
            window.wt = #{wt};
            window.wt_ma = #{wt_ma};

        script(src="/js/hsca.js")

    body
        div(id="hsca", style="height:1120px;")

